.root {
  background: linear-gradient(119.73deg, #272B40 10.57%, #121420 88.75%);
  border-radius: 30px;
  width: 360px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  color: #fff;
  font-size: 0.4em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 3em;
  position: relative;
  text-indent: -9999em;
  animation: load3 3s infinite linear reverse;
  transform: translateZ(0);
}


@keyframes load3 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.3em, -2em -2em 0 0.2em, -3em 0 0 0.1em, -2em 2em 0 0.0em, 0 3em 0 -0.1em, 2em 2em 0 -0.2em, 3em 0 0 -0.3em, 2em -2em 0 -0.4em;
  }
  12.5% {
    box-shadow: -2em -2em 0 0.2em, -3em 0 0 0.1em, -2em 2em 0 0.0em, 0 3em 0 -0.1em, 2em 2em 0 -0.2em, 3em 0 0 -0.3em, 2em -2em 0 -0.4em, 0 -3em 0 0.3em;
  }
  25% {
    box-shadow: -3em 0 0 0.1em, -2em 2em 0 0.0em, 0 3em 0 -0.1em, 2em 2em 0 -0.2em, 3em 0 0 -0.3em, 2em -2em 0 -0.4em, 0 -3em 0 0.3em, -2em -2em 0 0.2em;
  }
  37.5% {
    box-shadow: -2em 2em 0 0.0em, 0 3em 0 -0.1em, 2em 2em 0 -0.2em, 3em 0 0 -0.3em, 2em -2em 0 -0.4em, 0 -3em 0 0.3em, -2em -2em 0 0.2em, -3em 0 0 0.1em;
  }
  50% {
    box-shadow: 0 3em 0 -0.1em, 2em 2em 0 -0.2em, 3em 0 0 -0.3em, 2em -2em 0 -0.4em, 0 -3em 0 0.3em, -2em -2em 0 0.2em, -3em 0 0 0.1em, -2em 2em 0 0.0em;
  }
  62.5% {
    box-shadow: 2em 2em 0 -0.2em, 3em 0 0 -0.3em, 2em -2em 0 -0.4em, 0 -3em 0 0.3em, -2em -2em 0 0.2em, -3em 0 0 0.1em, -2em 2em 0 0.0em, 0 3em 0 -0.1em;
  }
  75% {
    box-shadow: 3em 0 0 -0.3em, 2em -2em 0 -0.4em, 0 -3em 0 0.3em, -2em -2em 0 0.2em, -3em 0 0 0.1em, -2em 2em 0 0.0em, 0 3em 0 -0.1em, 2em 2em 0 -0.2em;
  }
  87.5% {
    box-shadow: 2em -2em 0 -0.4em, 0 -3em 0 0.3em, -2em -2em 0 0.2em, -3em 0 0 0.1em, -2em 2em 0 0.0em, 0 3em 0 -0.1em, 2em 2em 0 -0.2em, 3em 0 0 -0.3em;
  }
}


