@import '../../variables';

.root {
  border: none;
  background: #F2CB07;
  box-shadow: inset 0px -9px 0px rgba(0,0,0,0.1);
  border-radius: 11px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 9px;
  cursor: pointer;
  color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  outline: none;

  &:active {
    box-shadow: inset 0px -6px 0px rgba(0,0,0,0.1);
    padding-bottom: 6px;
  }
  &.green {
    background: #73D677;
  }
  &.w100 {
   width: 100%;
  }
  &.small {
    font-size: 16px;
    line-height: 1.2em;
  }
}