$darkMainBg: linear-gradient(119.73deg, #272B40 10.57%, #121420 88.75%);
$whiteMainBg: linear-gradient(119.73deg, #FFFFFF 10.57%, #F1F3F9 88.75%);


$white: #fff;
$white07: rgba(255,255,255, 0.7);
$white05: rgba(255,255,255, 0.5);
$white04: rgba(255,255,255, 0.4);
$white01: rgba(255,255,255, 0.1);



$blue: #349DEA;


