$darkMainBg: linear-gradient(119.73deg, #272B40 10.57%, #121420 88.75%);
$whiteMainBg: linear-gradient(119.73deg, #FFFFFF 10.57%, #F1F3F9 88.75%);


$white: #fff;
$white07: rgba(255, 255, 255, 0.7);
$white05: rgba(255, 255, 255, 0.5);
$white04: rgba(255, 255, 255, 0.4);
$white015: rgba(255, 255, 255, 0.15);
$white01: rgba(255, 255, 255, 0.1);

$bgSubstrateLight: #474A5D;

$bgSubstrate: #2F3240;

@mixin button-add {
  display: grid;
  align-items: center;
  cursor: pointer;
  grid-column-gap: 8px;
  grid-template-columns: min-content min-content;
  border: none;
  font-weight: 600;
  font-size: 14px;
  outline: none;
  background-color: inherit;
  color: map-get($colors, blue);
  @include set-colors-theme;
  svg {
    width: 24px;
  }
}

@mixin button {
  font-family: inherit;
  width: 120px;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  border: none;
  background-color: map-get($colors, blue);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: darken(map-get($colors, blue), 10%);
  }
}


$colors: (
        blue: #349DEA,
        green: #13D386,
        red: #F55C5C,
        orange: #F06E18,
        purple: #7F57F3,
);

@mixin set-colors-theme {
  @each $key, $color in $colors {
    &.#{""+$key} {
      color: $color;
    }
  }
}

