@import 'src/variables';
.root {
  background: linear-gradient(119.73deg, #272B40 10.57%, #121420 88.75%);
  border-radius: 30px;
  width: 360px;
  height: 130px;
  position: relative;
}

.icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 20px;
  opacity: 0.7;
  color: $white;
}